<%= form_for [@customer, order] do |f| %>
  <div class="field">
    <%= f.label :product_name %>
    <%= f.text_field :product_name %>
  </div>

  <div class="field">
    <%= f.label :product_count, "Count" %>
    <%= f.number_field :product_count %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
